body {
	background-color: #2B2D42;
	font-family: Arial;
	color: #000;
}

.container {
	padding: 30px 62px 40px;
}

.header {
	background-color: #8789C0;
	height: 71px;
}

.info {
	max-width: 1219px;
	margin: 0 auto;
	background-color: #EFF7F6;
	padding: 27px 35px 20px 33px;
	position: relative;
	overflow: hidden;
}

.form-refresh {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.btn-refresh {
	background-color: green;
	border-bottom-left-radius: 4px;
	color: white;
	padding: 5px;
	padding-left: 28px;
	padding-bottom: 8px;
	transition-duration: .5s;
	transform: translateX(80px);
	font-size: 17px;
	position: relative;
}

.btn-refresh::before {
	content: "";
	background-image: url(../images/arrow-refresh.svg);
	width: 27px;
	height: 11px;
	position: absolute;
	left: 0px;
	bottom: 12px;
	transition: all .2s;
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: contain;
	transform: rotate(90deg);
}

.btn-refresh:hover {
	transform: translateX(0);
}

.btn-refresh:hover::before {
	transform: rotate(270deg);
}

.info__inner {
	margin-bottom: 80px;
}

.info__text-main {
	max-width: 647px;
	font-size: 30px;
	margin-bottom: 14px;
	/*border-bottom: 1px solid #a2a9b1;*/
}

.map-block__map-inner:first-child {
	margin-bottom: 15px;
}

.map-block__map-inner {
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.info__text-top {
	line-height: 65px;
	margin-bottom: 90px;
}

.title {
	font-size: 48px;
}

.subtitle {
	font-size: 38px;
}

.info-footer {
	min-height: 60px;
}

.info-footer__text {
	display: flex;
	justify-content: flex-end;
}

.info-footer__link {
	font-size: 38px;
	margin-right: 13%;
	color: #000;
	position: relative;
}

.info-footer__link::after {
	content: "";
	background-image: url(../images/arrow-to-navigate.svg);
	width: 35px;
	height: 39px;
	position: absolute;
	right: -68px;
	bottom: 3px;
	transition: all .3s;
	background-repeat: no-repeat;
	background-position-x: center;
}

.info-footer__link:hover::after {
	background-position-x: right;
}

@media (max-width: 800px) {
	.btn-refresh {
		padding: 8px;
		transform: translateX(0);
		font-size: 19px;
	}

	.btn-refresh:hover {
		transform: translateX(0);
	}

	.btn-refresh::before {
		display: none;
	}
}

@media (max-width: 712px) {
	.title {
		font-size: 39px;
		line-height: 52px;
		margin-bottom: 11px;
	}

	.subtitle {
		font-size: 30px;
	}

	.info__text-main {
		font-size: 24px;
	}

	.info-footer__link {
		font-size: 33px;
	}

	.container {
		padding: 22px 31px 26px;
	}

	.info-footer__link::after {
		transition: none;
	}

	.info__text-top {
		line-height: 38px;
	}

	.info {
		padding-top: 35px;
	}
}

@media (max-width: 500px) {
	.title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 10px;
	}

	.info__text-main {
		font-size: 18px;
		margin-bottom: 18px;
	}

	.header {
		height: 50px;
	}

	.subtitle {
		font-size: 24px;
		line-height: 26px;
	}

	.info-footer__link {
		font-size: 28px;
	}

	.info-footer__link:hover::after {
		background-position-x: center;
	}

	.info__text-top {
		line-height: 40px;
	}

	.info-footer__link::after {
		right: -55px;
		bottom: -5px;
	}
}

@media (max-width: 430px) {
	.info-footer__link::after {
		right: 5px;
		bottom: 11px;
	}
}

@media (max-width: 380px) {
	.info-footer__link::after {
		right: -34px;
	}

	.title {
		line-height: 37px;
	}

	.info__text-top {
		line-height: 33px;
	}

	.info__text-top {
		line-height: 34px;
	}
}

@media (max-width: 316px) {
	body {
		word-wrap: break-word;
	}

	.info-footer__link {
		font-size: 20px;
	}

	.info-footer__link::after {
		right: -36px;
		background-size: contain;
		width: 28px;
		height: 32px;
		bottom: 5px;
	}
}