body {
	background-color: #2B2D42;
	font-family: Inter;
	color: #000;
}

.container {
	padding: 30px 62px 40px;
}

.header {
	background-color: #8789C0;
	height: 71px;
}

.info {
	max-width: 1219px;
	/*min-height: 870px;*/
	margin: 0 auto;
	background-color: #EFF7F6;
	padding: 27px 35px 20px 33px;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
}

.info__inner {
	margin-bottom: 80px;
}

.info__text-main {
	max-width: 647px;
	margin-right: 17px;
	font-size: 30px;
	margin-bottom: 14px;
}

.map-block__map-inner:first-child {
	margin-bottom: 15px;
}

.map-block__map-inner {
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.info__text-top {
	line-height: 65px;
	margin-bottom: 90px;
}

.title {
	font-size: 48px;
}

.subtitle {
	font-size: 38px;
}

.info-footer {
	min-height: 60px;
}

.info-footer__text {
	display: flex;
	justify-content: flex-end;
}

.info-footer__link {
	font-size: 38px;
	margin-right: 13%;
	color: #000;
	position: relative;
}

.info-footer__link::after {
	content: "";
	background-image: url(../images/arrow-to-navigate.svg);
	width: 35px;
	height: 39px;
	position: absolute;
	right: -68px;
	bottom: 3px;
	transition: all .3s;
	background-repeat: no-repeat;
	background-position-x: center;
}

.info-footer__link:hover::after {
	background-position-x: right;
}

@media (max-width: 712px) {
	.title {
		font-size: 39px;
	}

	.subtitle {
		font-size: 33px;
	}

	.info-footer__link {
		font-size: 33px;
	}

	.container {
		padding: 22px 31px 26px;
	}

	.info-footer__link::after {
		transition: none;
	}

	.info__text-top {
		line-height: 58px;
	}
}

@media (max-width: 500px) {
	.title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 10px;
	}

	.header {
		height: 50px;
	}

	.subtitle {
		font-size: 24px;
		line-height: 26px;
	}

	.info-footer__link {
		font-size: 28px;
	}

	.info-footer__link:hover::after {
		background-position-x: center;
	}

	.info__text-top {
		line-height: 40px;
	}

	.info-footer__link::after {
		right: 40px;
		bottom: 16px;
	}
}

@media (max-width: 430px) {
	.info-footer__link::after {
		right: 5px;
	}
}

@media (max-width: 380px) {
	.info-footer__link::after {
		right: -25px;
	}
}